.card-person {
    margin-top: 30px;
    display: flex;
    border: 1px solid #CCC;
    border-radius: 6px;
    padding: 15px;

    box-shadow: 9px 7px 5px rgba(184, 182, 182, 0.77);

    .card-image {
        flex: 1;
        display: block;
        img {
            width: 150px;
            height: 150px;
        }
    }

    .card-info {
        flex: 1;
        margin-left: 10px;
        text-transform: uppercase;

        .p-person {
            font-size: 25px;
            width: 500px;
        }

        .p-profession {
            font-size: 20px;
            width: 500px;
        }

        .c-buttom {
            width: 120px;
            font-size: 15px;
            float:right;
            cursor: pointer;

            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
        }
    }

}