.toolbar {
    nav {
        a {
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: #FFF;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

}

.persons {
    margin-top: 70px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}